[Desktop Entry]
Encoding=UTF-8
Name=Scilab
Comment=A powerful Matlab clone
Comment[pl]=Rozbudowany klon Matlaba
Icon=
Exec=scilab
Terminal=false
Type=Application
# vi: encoding=utf-8
