[Desktop Entry]
Name=Scilab
Comment=A powerful Matlab clone
Comment[pl]=Rozbudowany klon Matlaba
Icon=
Exec=scilab
Terminal=false
Type=Application
Categories=Education;Science;Math;
# vi: encoding=utf-8
