[Desktop Entry]
Name=Scilab
Comment=A powerful Matlab clone
Comment[pl]=Rozbudowany klon Matlaba
Icon=
Exec=scilab
Terminal=0
Type=Application
# vi: encoding=utf-8
